.question {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(24, 24, 29);
}

.questionTitle {
  margin-left: 10px;
  margin-right: 10px;
}

.questionAsked {
  font-size: 30px;
}

.questionTitleFlex {
  display: flex;
  align-items: center;
}

.questionTitleAskedBy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.answers {
  margin-top: 20px;
}

.haveAnAnswerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answerWritingArea {
  margin-top: 10px;
}
