.question {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(24, 24, 29);
}

.questionTitle {
  margin-left: 10px;
  margin-right: 10px;
}

.questionAsked {
  font-size: 30px;
}

.questionTitleFlex {
  display: flex;
  align-items: center;
}

.questionTitleAskedBy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.answers {
  margin-top: 20px;
}

.loadingBox {
  display: flex;
  justify-content: center;
}

.haveAnAnswerText {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answerWritingArea {
  margin-top: 10px;
}

.haveAnAnswerLoggedIn {
  margin-top: 10px;
}

.formSubmitButton {
  outline: none;
  border: none;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  width: 100%;
  background-color: #5865f2;
  border-radius: 10px;
  transition-duration: 250ms;
  text-decoration: none;
  color: white;
}

.formSubmitButton:hover {
  cursor: pointer;
  background-color: #3644dd;
}

.answerUserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.answer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.answeredDate {
  color: #62676e;
}

.answer-votes {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caret-up-icon {
  font-size: 30px;
}

.answer-votes:hover {
  cursor: pointer;
}

.blue-color-icon {
  color: #5865f2;
}

.button {
  background-color: #5865f2;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition-duration: 250ms;
}

.button:hover {
  cursor: pointer;
  background-color: #3644dd;
}
