<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DiscoForum - {{ data['question']['question'] }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='allPageStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='questionPageStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='discoLogin.css') }}">
    {% if data['auth_user'] %}
    <script src="https://cdn.tiny.cloud/1/fid1zwj3enl8p038im5jpqo31s5nd1v2320avv0cj3b36y5m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    {% endif %}

</head>
<body>
    <div class="page">
        <div class="question">
            <div class="questionTitleFlex">
                <img class="questionTitleAskedBy" src="https://cdn.discordapp.com/avatars/{{ data['asked_by']['id'] }}/{{ data['asked_by']['avatar'] }}.png?size=256" />
                <div class="questionTitle">
                    <div class="questionAsked">
                        {{ data['question']['question'] }} 
                    </div>
                    <div class="questionAskedDate">
                        Asked On: {{ data['question']['asked_date'].strftime("%d/%m/%y") }}
                    </div>
                </div>
            </div>

            <div class="answers">
                <div class="answersList" id="answersList">
                </div>

                <div class="loadingBox" id="loadingBox"> 
                    <img width="100" height="100" src="{{ url_for('static', filename='images/loading-wedges.gif') }}" class="loading-wedges" alt="Loading Gif">
                </div>
                
                {% if not(data['auth_user']) %}
                <div class="haveAnAnswerText">
                    Have an Answer for this Question? Log in below and Answer this question
                    <a class="loginContainer"  href="/login">
                        <i class="fab fa-discord loginIcon"></i>
                        Log in
                    </a>
                </div>
                {% else %}
                <div class="haveAnAnswerLoggedIn">
                    <div style="display: flex; align-items: center;"> 
                        Have an Answer for this Question? Write an Answer so others can know <div onclick="toggleVotes()" style="margin-left: 10px;" class="button"> Show Votes </div>
                    </div>
                    <div class="answerWritingArea" >
                        <textarea name="answer" id="textareaAnswer" ></textarea>
                        <button type="submit" class="formSubmitButton" id="formSubmitButton"> Submit Your Answer </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if data['auth_user'] %}
        <script>
            tinymce.init({
            selector: '#textareaAnswer',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
        </script>
    {% endif %}

    <script src="https://kit.fontawesome.com/b918b909c6.js" crossorigin="anonymous"></script>
            
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>    <script>
        const answersList = document.getElementById('answersList');
        const loadingComponent = document.getElementById('loadingBox');
        const userIsAuthenitcated = "{{ data['auth_user'] }}" != "None";
        var showingVotes = false;
        var answers = [];

        function toggleVotes() {
            const votesElements = document.getElementsByClassName('answer-votes');
            console.log(votesElements);
            showingVotes = !showingVotes;
            for (const child of votesElements) {
                child.style.display = showingVotes ? "flex" : "none"  ;
            }
        }

        function updateMessages() {
            var htmlContent = "";
            answers.forEach(answer => {
                console.log(answer);
                const newAnswerElement = generateAnswerComponent(answer);  
                htmlContent += newAnswerElement.innerHTML;
            });
            answersList.innerHTML = htmlContent;
        }

        function upVoteAnswer(answerIndex) {
            const answer = answers[answerIndex];
            if (userIsAuthenitcated ) {
                axios.post(`/api/answer/togglevote/${answer.id}`).then((response) => {
                    const answer = response.data.answer;
                    answers[answerIndex] = answer;
                    updateMessages();
                })
            }
        }

        function generateAnswerComponent (answer) {
            var answeredTime = new Date(answer.answered_date * 1000);
            const full_date = answeredTime.toLocaleDateString();
            const full_time = answeredTime.toLocaleTimeString();
            const newElement = document.createElement("div");
            newElement.innerHTML = `
                <div class="answer">
                    <div class="answer-votes" onclick="upVoteAnswer(${answers.indexOf(answer)})" style="display: ${ showingVotes ? 'flex' : 'none'}" > 
                        <i  class="fas fa-caret-up caret-up-icon ${ answer.user_has_voted ? "blue-color-icon" : '' }"></i>
                        ${answer.votes}
                    </div>
                    <img class="answerUserImage" src="https://cdn.discordapp.com/avatars/${answer.answered_by.user_id}/${answer.answered_by.avatar}.png?size=256" />
                    <div class="answerSection">
                        <span class="answeredBy"> ${answer.answered_by.username} </span>
                        <span class="answeredDate"> ${full_date} at ${full_time} </span>
                        <div class="answerText">
                            ${answer.answer}
                        </div>
                    </div>
                </div>
            `; 
            return newElement;
        }

        axios.get(
            userIsAuthenitcated ?
            "/api/questions/{{ data['question']['id'] }}/answers/{{ data['auth_user']['id'] }}" : 
            "/api/noauth/questions/{{ data['question']['id'] }}/answers/"
            ).then((response) => {
            var htmlContent = "";
            answers = response.data;
            response.data.forEach(answer => {
                const answerElement = generateAnswerComponent(answer);
                htmlContent = htmlContent + answerElement.innerHTML;
            });
            answersList.innerHTML = htmlContent;
            loadingComponent.parentElement.removeChild(loadingComponent);
        });
                    
        {% if data['auth_user'] %}
        var socket = io.connect("{{ data['socket_address'] }}")
        const formSubmitButton = document.getElementById("formSubmitButton");
        const roomId = "{{ data['question']['id'] }}-{{ data['question']['asked_by']}}-{{ data['question']['server_id'] }}"

        socket.on('connect', function () {
            function submit() {
                var answer = tinymce.get("textareaAnswer").getContent();
                tinymce.get("textareaAnswer").setContent('');
                axios.post("/questions/{{ data['question']['id'] }}/answer", {
                    answer: answer,
                }).then((response) => {
                        socket.emit("send_message", {
                            answer: response.data,
                            questionRoomID: roomId
                    })
                })
            }
        
            formSubmitButton.addEventListener("click", submit)
            
            socket.on('recieve_mesage', function (message) {
                answers.push(message.answer);
                if (message.questionRoomID == roomId) {
                    var answerElement = generateAnswerComponent(message.answer);
                    answersList.appendChild(answerElement);
                }
            } )
                
        })
        {% endif %}
    </script>


</body>
</html>