<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DiscoForum - {{ data['question']['question'] }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='allPageStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='questionPageStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='discoLogin.css') }}">
    {% if data['auth_user'] %}
    <script src="https://cdn.tiny.cloud/1/fid1zwj3enl8p038im5jpqo31s5nd1v2320avv0cj3b36y5m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    {% endif %}

</head>
<body>
    <div class="page">
        <div class="question">
            <div class="questionTitleFlex">
                <img class="questionTitleAskedBy" src="https://cdn.discordapp.com/avatars/{{ data['asked_by']['id'] }}/{{ data['asked_by']['avatar'] }}.png?size=256" />
                <div class="questionTitle">
                    <div class="questionAsked">
                        {{ data['question']['question'] }} 
                    </div>
                    <div class="questionAskedDate">
                        Asked On: {{ data['question']['asked_date'].strftime("%d/%m/%y") }}
                    </div>
                </div>
            </div>

            <div class="answers">

                {% if not(data['auth_user']) %}
                <div class="haveAnAnswerText">
                    Have an Answer for this Question? Log in below and Answer this question
                        <a class="loginContainer"  href="/login">
                            <i class="fab fa-discord loginIcon"></i>
                            Log in
                        </a>
                </div>
                {% else %}
                Have an Answer for this Question? Write an Answer so others can know
                <div class="answerWritingArea" >
                    <textarea ></textarea>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if data['auth_user'] %}
        <script>
            tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
        </script>
    {% endif %}

    <script src="https://kit.fontawesome.com/b918b909c6.js" crossorigin="anonymous"></script>

</body>
</html>